@model IEnumerable<JQueryAjaxInAsp.NetMVC.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


</head>
<body>

    <table class="table table-striped table-condensed" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Office)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Office)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>

                    <td>
                        <a class="btn btn-warning btn-sm" onclick="Edit('@Url.Action("AddOrEdit", "Employees", new {id = @item.Id})')"><i class="fa fa-pencil"></i>Edit</a>
                        <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete", "Employees", new {id = @item.Id})')"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
                    </td>
                </tr>


            }
        </tbody>
        </table>
    </body>
</html>
